@keyframes loading {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.loaderParent {
    background-color: #23272A;
    border-radius: 20px;
    padding: 2rem;
    width: 64px;
    height: 64px;
    display: inline-flex;
}

.loader {
    border-radius: 50%;
    border: 12px solid #425085;
    border-top: 12px solid #7289DA;
    animation: loading 1s linear infinite;
    width: 64px;
    height: 64px
}

.avatar {
    border-radius: 50%;
    transition-property: all;
    transition-duration: 1s;
}

.avatar:hover {
    border-radius: 0;
}

.column {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #99AAB5;
    height: 100%;
}
